.link {
    text-decoration: none;
    color: var(--darkGray);
    font-family: "Open Sans";
    font-size: small;
    &:visited {
        color: var(--darkGray);
    }

    &:active {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
    }
}
