.heading {
  color: var(--black);
  font-family: "Work Sans";

  &.h1 {
    font-size: calc(3.5rem + 1.5vw);
  }
  &.h2 {
    font-size: calc(2.5rem + 1.5vw);
  }
  &.h3 {
    font-size: calc(2rem + 1.5vw);
  }
  &.h4 {
    font-size: calc(1.5rem + 1.5vw);
  }
  &.h5 {
    font-size: calc(1rem + 1.5vw);
  }
  &.h6 {
    font-size: calc(0.5rem + 1.5vw);
  }
}
