.home {
    &__span {
        color: var(--primary);
    }
    &__nav {
        margin-top: 1.5rem;
    }
    &__logo {
        width: 100%;
        padding: 0rem 2rem;
    }
    &__body {
        padding-top: 2.5rem;
        //margin-top: 2.5rem;
    }
    &__info {
        margin: 2rem 1rem;
        width: calc(100vw);
    }
    &__heading {
        padding-top: 2.5rem;
    }
}
