body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #f16484;
  --secondary: #f46466;
  --black: #1a202c;
  --lightGray: #f7fafc;
  --mediumGray: #edf2f7;
  --darkGray: #737373;

  --primaryGradient: linear-gradient(90.81deg, #f56565 0%, #ed64a6 100%);
}
